@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {}

@media only screen and (min-width: 321px) {}

@media only screen and (max-width: 320px) {}

@media only screen and (max-width: 375px) {}

@media only screen and (max-width: 480px) {
    .header-logo {
        max-width: 50%;
    }
}

@media only screen and (max-width: 600px) {}

@media only screen and (max-width: 768px) {}

@media only screen and (max-width: 1024px) {}

@media only screen and (max-width: 1120px) {
    /* .header-navigation {
        display: none;
    } */
    .navigation-links {
        display: none;
    }
    .navigation {
        display: none;
    }
    .search-btn {
        display: none;
    }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {}

@media only screen and (min-width: 1024px) {}

@media only screen and (min-width: 1120.9px) {
    .navigation-btn.mobile {
        display: none;
    }
    .side-menu-navigation-items {
        display: none;
    }
}

@media only screen and (min-width: 1224px) {}

@media only screen and (min-width: 1440px) {
    .move-right {
        margin-left: auto;
    }
}

@media only screen and (min-width: 1824px) {}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (min-device-pixel-ratio: 1.5) {}