.header {
    position: fixed;
    z-index: 99;
    width: 100%;
    min-height: 100px;
    background-color: #fff;
}

.header__content {
    width: 100%;
}

.header-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: calc(5px + 0.59vw) calc(10px + 1.78vw);
    border-bottom: 2px solid green;
}

.languages-list li {
    padding: 5px 0;
}

.header-navigation {
    position: relative;
    z-index: 1;
    padding: 0 calc(5px + 0.59vw);
    transition: all ease 0.8s;
    background-color: rgba(255, 255, 255, 0.4);
}

.header-navigation.active {
    transform: translateX(300px);
}

.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navigation-btn button {
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    transition: all ease 0.8s;
    color: #000;
}

.navigation-btn button:hover {
    cursor: pointer;
    background-color: rgba(90, 85, 85, 0.4);
    color: #fff;
}

.button {
    display: none;
}

.button.active {
    display: block;
}

.navigation-links {
    width: 100%;
    padding: 0 15px;
}

.link-items {
    display: flex;
}

.link-items li {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.link-item {
    padding: 10px 15px;
    padding: calc(5px + 0.29vw) calc(10px + 0.29vw);
    text-transform: uppercase;
}

.section {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 1500px;
    background-color: rgba(19, 63, 21, 0.4);
}

.side-menu {
    position: absolute;
    z-index: 95;
    top: 0;
    left: 0px;
    transform: translateX(-300px);
    background-color: rgb(255, 255, 255);
    max-width: 300px;
    width: 100%;
    height: calc(100vh - 87px);
    overflow-y: auto;
    overflow-x: unset;
}

.side-menu-search {
    display: none;
    width: 100%;
    background-color: #eeeff0;
    /* transform: translateX(-300px); */
}

.side-menu-search {
    /* position: fixed; */
    display: flex;
    /* transform: translateX(0); */
}

.search-form {
    z-index: 1;
    width: 100%;
    padding: 10px 30px;
    background-color: rgba(255, 255, 255, 0.4);
}

.search-form.active {
    z-index: 2;
}

.search-form form {
    display: flex;
}

.search-form form button {
    margin: 0 5px;
}

.search-form form input {
    margin: 0 5px;
    background-color: #fff;
}

.side-menu-list {
    position: absolute;
    top: 0;
    z-index: 1;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    height: 100vh;
    /* overflow-y: auto;
    overflow-x: hidden; */
}

.menu-item-link:nth-child(1) {
    margin-top: 44px;
}

.side-menu-list-1,
.side-menu-list-2 {
    display: block;
    /* opacity: 1; */
    position: absolute;
    z-index: 99;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: #fff;
    transition: all ease-in 0.8s;
    transform: translateX(-300px);
}

.side-menu-list-2 {
    top: 0;
}

.side-menu-list-1.active,
.side-menu-list-2.active {
    display: block;
    transform: translateX(0);
}

.back-menu,
.back-menu-1 {
    /* position: fixed; */
    width: 100%;
    padding: 10px 30px;
    background-color: #eeeff0;
    transition: all ease 0.8s;
}

.back-menu-1:hover {
    cursor: pointer;
    background-color: #d1d1d1;
}

.side-menu-list-1-item-link,
.side-menu-list-2-item-link,
.side-menu-list-about-item-link {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
    padding: 10px;
    transition: all ease 0.8s;
    border-bottom: 2px solid rgba(19, 63, 21, 0);
}

.side-menu-list-2-item-link {
    flex-direction: unset;
    justify-content: flex-start;
    padding: 10px 30px;
}

.side-menu-list-1-item-link img,
.side-menu-list-2-item-link img {
    max-width: 175px;
}

.side-menu-list-1-item-link:hover,
.side-menu-list-2-item-link:hover,
.side-menu-list-about-item-link:hover {
    cursor: pointer;
    border-bottom: 2px solid rgba(19, 63, 21, 0.4);
}

.menu-item {
    position: relative;
    z-index: 1;
    display: block;
}

.menu-item-link {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 10px 20px;
    max-height: 60px;
    transition: all ease 0.8s;
}

.menu-item-link:hover {
    cursor: pointer;
    background-color: rgba(121, 121, 121, 0.3);
}

.icon {
    max-height: 40px;
    max-width: 40px;
    width: 100%;
    height: 100%;
    margin-right: 10px;
}

.name {
    text-transform: uppercase;
}

.main,
.footer {
    overflow: hidden;
}

.page-wrapper {
    padding-top: 140px;
    transform: translateX(0);
    transition: all ease 0.8s;
}

.page-wrapper.open-menu {
    transform: translateX(300px);
}

.side-menu::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(121, 121, 121, 0.3);
    border-radius: 10px;
    background-color: #F5F5F5;
}

.side-menu::-webkit-scrollbar {
    width: 12px;
    background-color: #F5F5F5;
}

.side-menu::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(121, 121, 121, 0.3);
    background-color: rgb(224, 224, 224);
}

.side-menu-list-about {
    background-color: #fff;
    height: 100%;
}

.menu-item-about {
    position: absolute;
    top: 0;
    z-index: 1;
    width: 100%;
    transition: all ease 0.8s;
    transform: translateX(-300px);
    background-color: #fff;
}

.menu-item-about.active {
    position: absolute;
    top: 0;
    z-index: 1;
    width: 100%;
    transform: translateX(0);
}

.footer-page.page-wrapper {
    padding-top: 0;
    padding: 50px 20px;
    background-color: teal;
    transition: all ease 0.8s;
    transform: translateX(0);
}

.footer-page.page-wrapper.open-menu {
    transform: translateX(300px);
}